footer{
  height: 150px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #222;
  color: white;

  p{
    margin-top: 20px;
    font-size: 0.8em;
    font-family: poppins-light;
  }
}

.logo{
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;

  img{
    height: 30px;
    object-fit: contain;
    margin-right: 40px;
  }

  span{
    font-size: 1.3em;
    font-weight: bold;
    color:white;
  }

  span.dot{
    color:white;
  }

  &:hover{
    opacity: 0.6;
  }
}