<div id="mission" class="build_grow_promote">
  <div class="container">
    <div class="row">
      <div class="col-12 bgr_heading">
        <div class="bgr_heading">
          <h1 class="text-center">
            OUR MISSION
          </h1>
          <p class="text-center">
            We aim to positively impact and grow the revenue of our clients by getting them
            great advertisement deals and producing quality content for our clients.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my_card">
          <mdb-icon fas icon="industry"></mdb-icon>
          <div class="card-body">
            <h4 class="card-title text-center">Build</h4>
            <p class="card-text text-center">
              We build brands from the ground up, making you unique.
            </p>
            <!-- <div class="card_btn">
              <a href="#" class="btn-grad">Go somewhere</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my_card">
          <mdb-icon fab icon="buffer"></mdb-icon>
          <div class="card-body">
            <h4 class="card-title text-center">Grow</h4>
            <p class="card-text text-center">
             We help you grow your business and brand to get more reach and increase sales
            </p>
            <!-- <div class="card_btn">
              <a href="#" class="btn-grad">Go somewhere</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my_card">
          <mdb-icon fas icon="broadcast-tower"></mdb-icon>
          <div class="card-body">
            <h4 class="card-title text-center">Promote</h4>
            <p class="card-text text-center">
              We strategize with the right channels to reach your TAs
            </p>
            <!-- <div class="card_btn">
              <a href="#" class="btn-grad">Go somewhere</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
