<section>
  <div class="container partners">
    <div class="row">
      <div class="col-12">
        <h1>OUR PARTNERS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="icons">
          <img src="assets/images/algorithm_logo.png" alt="">
          <img src="assets/images/brandeye_logo.png" alt="">
          <img src="assets/images/omd_logo.png" alt="">
          <img src="assets/images/sbi_logo.png" alt="">
          <img src="assets/images/primus_logo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
