<!-- ABOUT US STARTS -->
<div id="about" class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about_us_img">
          <img  src="assets/images/logo.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="about_us_text">
          <p>
            We are your 21st Century media sales brokerage and Production Company,
            with the flair to see you succeed. With years of experience in media sales,
            planning, marketing and media production, you can rest assured we will
            make your brand roar in this fierce market.
          </p>
          <p>We aim to be the leading media sales brokerage and media production company in Africa</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ABOUT US ENDS -->
