<!-- BANNER STARTS -->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="banner_text">
          <h4>OKIN</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo culpa deserunt voluptatem reprehenderit aliquam, dicta sunt. Accusamus cum est, ullam, quisquam harum!
          </p>
          <a href="javascript:void()" class="btn-grad">Learn More</a>
        </div>
        <div class="socials">
          <div class="logo-wrapper mr-3">
            <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="logo-wrapper mr-3">
              <a target="_blank" href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="logo-wrapper mr-3">
              <a href="javascript:void(0)"><i class="fab fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- BANNER ENDS -->
