<!-- BANNER STARTS -->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="banner_text">
          <h4>Creative Media Agency</h4>
          <p>
            We trade and sell media with passion and integrity.<br/>
            We are your 21st Century media sales brokerage and Production Company, with the flair to see you succeed.
          </p>
          <a href="javascript:void()" (click)="contactUs()" class="btn-grad">Contact Us</a>
        </div>
        <!-- <div class="socials">
          <div class="logo-wrapper mr-3">
            <a href="https://twitter.com/RisApp8/status/1248061431662215170?s=08"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="logo-wrapper mr-3">
              <a href="https://instagram.com/riseapp.ng?igshid=2c2qc0q6c1a4"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="logo-wrapper mr-3">
              <a href="javascript:void(0)"><i class="fab fa-facebook"></i></a>
          </div>
        </div> -->
      </div>
      <div class="col-md-6">
        <div class="banner_img">
          <!-- <img
            class="w-100"
            src="assets/images/banner.png"
            alt=""
          /> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- BANNER ENDS -->
