<header>
  <div class="top-nav">
    <nav>
        <button>Distribute</button>
        <span>Want to become a distributor?</span>
    </nav>
  </div>
  <div class="main-nav">
    <nav>
      <div>
        <a
        href="#"
        class="logo">
          <img class="mr-2 png" src="assets/images/droplet.svg" alt="">
          <span>Remonic</span>
        </a>
      </div>

      <div class="nav">
        <div class="w-100">
          <div class="links">

            <a href="#"
            class="link">Home</a>

            <a href="#"
            class="link">About</a>

            <a href="#"
            class="link">Products</a>

            <a href="#"
            class="link contact">Contact us</a>

          </div>
        </div>
      </div>

      <div class="toggler">
        <i (click)="toggleNav()" class="fas fa-bars"></i>
      </div>
    </nav>
  </div>
  <app-side-nav></app-side-nav>
</header>
