/* You can add global styles to this file, and also import other style files */



.main-nav{
  background-color: rgb(0, 0, 0);
  height: 80px;
  width: 100%;
  top:0;
  left:0;
  z-index: 100;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  transition: .4s all ease-in;

  &.fixed{
    position: fixed;
    height: 60px;
  }
}


nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(230, 230, 230);

  .toggler{
    display: none;
    i{
      cursor: pointer;
    }
  }
  .logo{
      text-decoration: none;
      height: inherit;
      display: flex;
      align-items: center;

      img{
        height: 50px;
        object-fit: contain;
        margin-right: 40px;
      }

      span{
        font-size: 1.3em;
        font-weight: bold;
        color:white;
      }

      span.dot{
        color:white;
      }

      &:hover{
        opacity: 0.6;
      }
  }
  .nav{
    width: 50%;
    .links{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a.link{
        color: rgb(230, 230, 230);

        &:hover{
          opacity: 0.6;
        }
      }

      a.active{
        color: white;
        font-weight: bold;
      }
    }
  }
}





@media screen and (max-width: 900px) {
  .nav{
    width: 70% !important;
  }
}

@media screen and (max-width: 768px) {
  .nav{
    width: 0px !important;
  }
  .link{
    display: none !important;
  }
  .toggler{
    display: flex !important;
    margin-right: 40px;
  }
}

