<!-- OUR SERVICES STARTS -->

<section>
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">

        <div class="our_services">
          <div class="box">
            <div class="row">
              <div class="col-12 heading">
                <h1>WHAT WE DO</h1>
                <h6>We provide cutting edge marketing and communication solutions to clients far and near.</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="service-card">
                  <!-- <mdb-icon fab icon="facebook-f"></mdb-icon> -->
                  <div class="card-image"><img src="assets/images/sale.jpg" alt=""></div>
                  <div class="card-body">
                    <h5 class="card-title">Media Sales Brokerage</h5>
                    <p class="card-text">
                      Trasels works in partnership with each client and partners to ensure every media strategy is smart, creative, on-target and saves you money.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-card">
                  <!-- <mdb-icon fab icon="searchengin"></mdb-icon> -->
                  <div class="card-image"><img src="assets/images/production2.jpg" alt=""></div>
                  <div class="card-body">
                    <h5 class="card-title">
                      Media Production
                    </h5>
                    <p class="card-text">
                      We endeavor to tell stories, focusing on the art not the act
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-card">
                  <!-- <mdb-icon fab icon="buysellads"></mdb-icon> -->
                  <div class="card-image"><img src="assets/images/planning.jpg" alt=""></div>
                  <div class="card-body">
                    <h5 class="card-title">Strategic Media Planning</h5>
                    <p class="card-text">
                      At Trasels, only three letters matter: ROI. Everything we do is designed to maximize your investment
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-card">
                  <!-- <mdb-icon fab icon="facebook-square"></mdb-icon> -->
                  <div class="card-image"><img src="assets/images/branding.jpg" alt=""></div>
                  <div class="card-body">
                    <h5 class="card-title">Brand Activation</h5>
                    <p class="card-text">
                      We are a media company that specializes in creating complete brand experiences that enable you to connect directly with your target audience, grow your affinity and build brand loyalty.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-card">
                  <!-- <mdb-icon fab icon="google"></mdb-icon> -->
                  <div class="card-image"><img src="assets/images/tradmarketing.jpg" alt=""></div>
                  <div class="card-body">
                    <h5 class="card-title">Traditional Media Marketing</h5>
                    <p class="card-text">
                      At Trasels we pride ourselves as a dynamic advertising agency that goes beyond the norm in achieving your marketing objectives using various offline advertising and promotional methods.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-card">
                  <!-- <mdb-icon fas icon="luggage-cart"></mdb-icon> -->
                  <div class="card-image"><img src="assets/images/digimarketing.jpg" alt=""></div>
                  <div class="card-body">
                    <h5 class="card-title">Digital Media Marketing</h5>
                    <p class="card-text">
                      Whether you want to increase social media conversions, brand awareness, traffic to your website, or other marketing related goals, we can help you design and execute a digital marketing campaign that can help you reach your goals.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<!-- OUR SERVICES ENDS -->
