<div class="get-started">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>GET STARTED</h1>
        <p>Contact us today to get started</p>
        <button (click)="contactUs()" class="btn-grad">Contact us now</button>
      </div>
      <div class="col-12 col-md-6 campaign bg-dark p-4">
        <h1>Some Campaigns Run</h1>
        <div class="stroke"></div>
        <ul>
          <li>9MOBILE </li>
          <li>ACCESS BANK </li>
          <li>JOBBERMAN </li>
          <li>CAMOSUNATE </li>
          <li>BRUSTAN –N </li>
          <li>U LESSON</li>
          <li>INDOMIE </li>
        </ul>
      </div>
    </div>
</div>
