<section>
  <div class="container">
    <div class="header mb-5">
      <h1>OUR CLIENTS</h1>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slide">
          <div class="box">
            <img class="w-100" src="assets/images/tozali.jpg" alt="">
            <div class="title">
              <h4>TOZALI TV</h4>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <div class="box">
            <img class="w-100" src="assets/images/zamani.jpg" alt="">
            <div class="title">
              <h4>ZAMANI TV</h4>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <div class="box">
            <img class="w-100" src="assets/images/ksmc.png" alt="">
            <div class="title">
              <h4>KSMC TV</h4>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template dotContent="content" carouselSlide>
        <div class="slide">
          <div class="box">
            <img class="w-100" src="assets/images/rima2.jpg" alt="">
            <div class="title">
              <h4>RIMA FM SOKOTO </h4>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template dotContent="content" carouselSlide>
        <div class="slide">
          <div class="box">
            <img class="w-100" src="assets/images/prestige.jpg" alt="">
            <div class="title">
              <h4>PRESTIGE FM MINNA</h4>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>

  </div>
</section>
